# AltaForm ignore list
/_config/
!/_config/_virtual.php.inc
/_log/
/cdn/
/files/
/google*
/bing*
Thumbs.db
*.sublime-workspace


# Application ignore list
.DS_Store?
ehthumbs.db
Icon?
*.psd
*.zip
/index.lighttpd.html
/static/tinymce
/static/events
/static/fund
/videos/
/static/social3
*.gz
/test/image
