AddType text/html .tpl

RewriteEngine on

RewriteCond %{REQUEST_URI}	^.*	[NC]
RewriteCond %{REQUEST_URI}	!^/favicon.ico	[NC]
RewriteCond %{REQUEST_URI}	!^/static/.*	[NC]
RewriteCond %{REQUEST_URI}	!^/cdn/.*		[NC]
RewriteRule . index.php [QSA,L]
