.cpn-youtube a {
	display:block;
	width:320px;
	height:180px;
	float:left;
	margin:10px 40px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	overflow:hidden;
	font-size:0;
}

.cpn-youtube a img {
	background:#ddd;
	width:320px;
	height:180px;
	position:relative;
	z-index:1;
}

.cpn-youtube a:hover {
	color:#00C8E6;
	background:#00C8E6;
	box-shadow: 0 0 4px #00C8E6;
 }

 .cpn-youtube a:hover span.cpn-gallery-move {
 	display:block;
 	margin-left:288px;
 }

 .cpn-youtube a:hover img {
 	opacity:0.8;
 }

.cpn-youtube a figcaption {
	position:absolute;
	z-index:2;
	background:rgba(0,0,0,0.5);
	width:320px;
	margin-top:-20px;
	height:20px;
	font-size:16px;
	line-height:16px;
	padding:2px 5px;
	overflow:hidden;
	text-shadow:2px 2px 2px #000, -2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000;
}
